# Exploring Ebay Car Sales Data

In [1]:
import numpy as np
import pandas as pd
autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

In [2]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

As we see above, column names have camelcase format instead of snakecase. This should be changed.

In [3]:
#autos.columns

autos.rename(columns={'yearOfRegistration':'registration_year'},inplace=True)
autos.rename(columns={'monthOfRegistration':'registration_month'},inplace=True)
autos.rename(columns={'notRepairedDamage':'unrepaired_damage'},inplace=True)
autos.rename(columns={'dateCreated':'ad_created'},inplace=True)
autos.rename(columns={'dateCrawled':'date_crawled'},inplace=True)
autos.rename(columns={'offerType':'offer_type'},inplace=True)
autos.rename(columns={'vehicleType':'vehicle_type'},inplace=True)
autos.rename(columns={'fuelType':'fuel_type'},inplace=True)
autos.rename(columns={'nrOfPictures':'number_of_pictures'},inplace=True)
autos.rename(columns={'postalCode':'postal_code'},inplace=True)
autos.rename(columns={'lastSeen':'last_seen'},inplace=True)

autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Look at descriptive statistics for all columns.

In [4]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-21 20:37:19,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Price and odometer values stored as text. We need to have these values as a number. So, let's convert them to numeric type.
Firstly, let's find unique values in each column to identify patterns.

In [5]:
unique_price = autos["price"].unique()
print(unique_price)

['$5,000' '$8,500' '$8,990' ... '$385' '$22,200' '$16,995']

We need to remove text symbols from the price column and convert the column to a numeric type.

In [6]:
autos["price"] = autos["price"].str.replace("$", "")
autos["price"] = autos["price"].str.replace(",", "")

In [7]:
unique_price = autos["price"].unique()
print(unique_price)
autos["price"] = autos["price"].astype(int)

['5000' '8500' '8990' ... '385' '22200' '16995']

Let's do the same for odometer column.

In [8]:
unique_odometer = autos["odometer"].unique()
print(unique_odometer)

['150,000km' '70,000km' '50,000km' '80,000km' '10,000km' '30,000km'
 '125,000km' '90,000km' '20,000km' '60,000km' '5,000km' '100,000km'
 '40,000km']

In [9]:
autos["odometer"] = autos["odometer"].str.replace("km", "")
autos["odometer"] = autos["odometer"].str.replace(",", "")

In [10]:
# unique_odometer = autos["odometer"].unique()
# print(unique_odometer)
autos["odometer"] = autos["odometer"].astype(int)

In [11]:
autos.rename(columns={'odometer' : 'odometer_km'}, inplace=True)

Let's explore the data in the price column.

In [12]:
# autos["price"].unique().shape
# autos["price"].describe()
autos["price"].value_counts().sort_index(ascending = True).head(30)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
40       6
45       4
47       1
49       4
50      49
55       2
59       1
60       9
65       5
66       1
Name: price, dtype: int64

Let's remove outliers.

In [13]:
autos = autos[autos["price"].between(50,350000)]
#autos["price"].value_counts().sort_index(ascending = False).head(30)

Let's explore the data in the odometer_km column.

In [14]:
# autos["odometer_km"].unique().shape
# autos["odometer_km"].describe()
autos["odometer_km"].value_counts().sort_index(ascending = False).head(30)

150000    31288
125000     5045
100000     2105
90000      1733
80000      1414
70000      1215
60000      1153
50000      1011
40000       815
30000       778
20000       759
10000       249
5000        782
Name: odometer_km, dtype: int64

Calculate the distribution of values in the date_crawled column as persentages.

In [32]:
autos["date_crawled"].value_counts(normalize=True, dropna=False).sort_index(ascending = True).head(10)

2016-03-05 14:06:30    0.000022
2016-03-05 14:06:40    0.000022
2016-03-05 14:07:04    0.000022
2016-03-05 14:07:21    0.000022
2016-03-05 14:07:26    0.000022
2016-03-05 14:07:40    0.000022
2016-03-05 14:07:45    0.000022
2016-03-05 14:08:00    0.000043
2016-03-05 14:08:05    0.000043
2016-03-05 14:08:27    0.000022
Name: date_crawled, dtype: float64

Calculate the distribution of values in the ad_created column as persentages.

In [31]:
autos["ad_created"].value_counts(normalize=True, dropna=False).sort_index(ascending = True).head(10)

2015-06-11 00:00:00    0.000022
2015-08-10 00:00:00    0.000022
2015-09-09 00:00:00    0.000022
2015-11-10 00:00:00    0.000022
2015-12-05 00:00:00    0.000022
2015-12-30 00:00:00    0.000022
2016-01-03 00:00:00    0.000022
2016-01-07 00:00:00    0.000022
2016-01-10 00:00:00    0.000043
2016-01-13 00:00:00    0.000022
Name: ad_created, dtype: float64

Calculate the distribution of values in the last_seen column as persentages.

In [30]:
autos["last_seen"].value_counts(normalize=True, dropna=False).sort_index(ascending = True).head(10)

2016-03-05 14:45:46    0.000022
2016-03-05 14:46:02    0.000022
2016-03-05 14:49:34    0.000022
2016-03-05 15:16:11    0.000022
2016-03-05 15:16:47    0.000022
2016-03-05 15:28:10    0.000022
2016-03-05 15:41:30    0.000022
2016-03-05 15:45:43    0.000022
2016-03-05 15:47:38    0.000022
2016-03-05 15:47:44    0.000022
Name: last_seen, dtype: float64

In [28]:
autos["registration_year"].value_counts().sort_index(ascending = True).head(10)

1000    1
1001    1
1111    1
1800    2
1910    2
1927    1
1929    1
1931    1
1934    2
1937    4
Name: registration_year, dtype: int64

We have wrong data in the registration year column - dates in future and dates before inventing cars.
Because a car can't be first registered after the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate. 
Let's count the number of listings with cars that fall outside the 1900 - 2016 interval.

In [29]:
autos = autos[autos["registration_year"].between(1900,2016)]

Calculate the distribution of the remaining values.

In [36]:
autos["registration_year"].value_counts(normalize = True).sort_index(ascending = False).head(10)

2016    0.025972
2015    0.008263
2014    0.014245
2013    0.017236
2012    0.028167
2011    0.034859
2010    0.034192
2009    0.044779
2008    0.047598
2007    0.048932
Name: registration_year, dtype: float64

## Exploring Price by Brand

In [42]:
autos["brand"].value_counts().sort_values(ascending = False).head(15)

volkswagen       9821
bmw              5110
opel             4987
mercedes_benz    4485
audi             4025
ford             3252
renault          2193
peugeot          1390
fiat             1195
seat              848
skoda             763
nissan            712
mazda             709
smart             659
citroen           653
Name: brand, dtype: int64

As we see from the data above - the most popular brand is volkswagen. Now let's use most popular brands for our analisys.

In [55]:
brands = autos["brand"].value_counts(normalize = True)
most_popular_brands = brands[brands > 0.03].index
most_popular_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford',
       'renault'],
      dtype='object')

In [72]:
popular_brands_mean_price = {}

for b in most_popular_brands:
    popular_brands_mean_price[b] = autos.loc[autos['brand'] == b, 'price'].mean().astype(int)
    
popular_brands_mean_price

{'audi': 9373,
 'bmw': 8376,
 'ford': 3762,
 'mercedes_benz': 8663,
 'opel': 2996,
 'renault': 2483,
 'volkswagen': 5424}

As we see, the most popular brand - volkswagen - has mean price near 5.5 thousand of dollar. The most expencive brands - Mercedes, BMV and Audi. The cheapest - Reno.

Calculate the mean mileage and mean price for each of the top brands.

In [71]:
brand_mean_mileage = {}

for b in popular_brands_mean_price:
    brand_mean_mileage[b] = autos.loc[autos['brand'] == b, 'odometer_km'].mean().astype(int)
    
brand_mean_mileage

{'audi': 129254,
 'bmw': 132651,
 'ford': 124295,
 'mercedes_benz': 130923,
 'opel': 129440,
 'renault': 128144,
 'volkswagen': 128771}

Convert both dictionaries to series objects.

In [73]:
mean_price = pd.Series(popular_brands_mean_price)
mean_mileage = pd.Series(brand_mean_mileage)

Create a dataframe from the first series object and assign the other series as a new column in this dataframe.

In [76]:
top_brand = pd.DataFrame(mean_price, columns = ['mean_price, $'])
top_brand

               mean_price, $
audi                    9373
bmw                     8376
ford                    3762
mercedes_benz           8663
opel                    2996
renault                 2483
volkswagen              5424

In [77]:
top_brand['mean_milieage, km'] = mean_mileage
top_brand

               mean_price, $  mean_milieage, km
audi                    9373             129254
bmw                     8376             132651
ford                    3762             124295
mercedes_benz           8663             130923
opel                    2996             129440
renault                 2483             128144
volkswagen              5424             128771